// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #a87e58;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$planit-navy: rgb(30, 24, 73);
$planit-purple-light: rgb(223, 216, 230);
$planit-red:rgb(132, 3, 3);
$planit-white: #ececec;;
