// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #a87e58;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$planit-purple: rgb(71, 17, 78);
$planit-purple-light: rgb(223, 216, 230);
$planit-red:rgb(99, 3, 3);
$planit-white: rgb(222, 226, 230);
