* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  background-color: rgb(9, 5, 29) !important;
  min-height: 100vh;
}

main {
  //min-height: calc(90vh - 72px);
  flex: 1 0 auto;
}
