.member-container {
  display: flex;
  gap: 24px;
  align-items: center;
  margin: auto;
  height: 100vh;
  width: fit-content;
}

.member-card {
  background-color: #ffffff99;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  border-radius: 4px;
}

.member-data {
  color: black;
  text-align: center;
  // font-size: 48px !important;
  margin-top: 12px;
  margin-bottom: 12px;
  min-width: 400px;
}

.member-data-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.member-data-title {
  // font-size: 12px
}

.member-list-title {
  color: black;
  text-align: left;
  // font-size: 32px;
  text-align: center;
}

.member-list {
  // font-size: 24px;
  text-align: left;
  min-width: 400px;

  i {
    margin-left: 8px;
  }

  .fa-xmark {
    color: $planit-red;
  }

  .fa-xmark:hover {
    color: red;
  }
}
