<div class="m-3">
  <%= simple_form_for [@group, @user_group] do |f| %>
    <%= f.input :user_id, as: :check_boxes, collection: User.all, label_method: :username, input_html: {multiple: true} %>
    <%# link_to "Add Users", group_user_group_path(@group, @user_group), class: "submit-btn", data: {turbo_method: :patch, turbo_confirm: "Are you sure?"} %>
    <%# link_to "Delete Users", group_user_group_path(@group, @user_group), class: "submit-btn", data: {turbo_method: :patch, turbo_confirm: "Are you sure?"} %>
    <%# f.button :submit, class: "submit-btn", value: "Add Users" %>
    <%# f.button :submit, class: "submit-btn", value: "Delete Users" %>
  <% end %>
</div>


<%# <%= link_to "Delete Users", group_user_group_path(@group, @user_group), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
 <%# group_user_group PATCH  /groups/:group_id/user_groups/:id(.:format) %>
