<div class="col-sm-3">
  <div class="group-card">
    <div class="card-body d-flex justify-content-center">
      <div class="group-form-inner">
        <i class="fa-solid fa-plus-large"></i>
      </div>
    </div>
  </div>
</div>
