<div class="group-create">
  <%= simple_form_for @group do |f| %>
    <%= f.input :name %><br>
    <%= f.input :picture, as: :file %><br><br>
    <%= f.button :submit, class: "submit-btn" %>
  <% end %>
</div>
