<h1>My Groups</h1>

<div class="container">
  <div class="row">
    <% @groups.each do |group| %>
      <%= render "card", group: group %>
    <% end %>
    <%= render "form", group: @group %>
  </div>
</div>
