<h1>My Groups</h1>
<div class="groups-container p-3">
  <% @groups.each do |group| %>
    <%= render "card", group: group %>
  <% end %>
  <div class="group-card-1 group-form-container ">
    <%= render "form", group: @group %>
  </div>
</div>
