<div class="container" data-controller="switch-tabs">
  <div class="row">
    <div class="col-2 border">
      <%= cl_image_tag @group.picture.key, class: "avatar-bordered m-2" %>
      <h3><%= @group.name %></h3>
      <p>All events</p>
    </div>
    <div class="col-5 d-flex justify-content-center align-items-center border" style="height: 40%;" data-action="click->switch-tabs#showCalendar">
      <p>Calendar</p>
    </div>
    <div class="col-5 d-flex justify-content-center align-items-center border" style="height: 40%;" data-action="click->switch-tabs#showMap">
      <p>Map</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2 border">
      <% @events.each do %>
        <%= render "/events/card", event: event %>
      <% end %>
      <%# render "/events/form", event: @event %>
    </div>
    <div class="col-10 border">
      <%# render Calendar/Map partial %>
      <h3 data-target="calendar">Big Calendar!</h3>
      <h3 data-target="map" class="d-none">Big Map!</h3>
    </div>
  </div>
</div>
