<footer class="footer-container">
  <li class="mx-5 my-4"><a href="https://www.github.com" target="_blank"><i class="fa-brands fa-github"></i></a></li>
  <li class="mx-5 my-4"><a href="https://www.gmail.com" target="_blank"><i class="fa-regular fa-envelope"></i></a></li>
  <p>© 2022 Planit. All rights reserved.</p>
</footer>
