<%= month_calendar do |date| %>
  <%= date.day %>
  <%= @events.name %>

    <div class="day-popup bubblePosition hoverBubble">
      Click to vote on this day.
      <%# <button>Vote</button> %>
    </div>

<% end %>
