<div class="group-channel-event d-flex justify-content-between px-2">
  <div class="d-flex align-items-center">
    <div class="me-2" style="min-width: 12px; min-height: 12px; border: 1px solid white; border-radius: 50%; background-color: <%= event.colour %>;"></div>
    <div><%= event.name %></div>
    <div class="ms-2"><%= event.locked ? "🔒" : "" %></div>
  </div>
  <div class="d-flex align-items-center">
    <div><%= cl_image_tag event.user.avatar.key, class: "avatar-small" %></div>
  </div>
</div>
