<div class="event-card d-flex justify-content-between my-1 py-2 px-1">
  <div class="d-flex align-items-center">
    <div class="me-1" style="min-width: 12px; min-height: 12px; border: 1px solid white; border-radius: 50%; background-color: <%= event.colour %>;"></div>
    <div><%= event.name %></div>
    <div class="ms-1"><%= event.locked ? "🔒" : "" %></div>
  </div>
  <div class="d-flex align-items-center">
    <div><%= cl_image_tag event.user.avatar.key, class: "avatar-small" %></div>
  </div>
</div>
