<div class="about-title">
  <h1>About us</h1>
  <h2>Hello, we are Doroty, Boram, Jack and Saki ✋
  <br><br>We are Le Wagon alumni and this is our team project. Hope you enjoy our app✨</h2>
</div>

<div class="about-content">
<ul>
  <li><h2>Dorothy Chen<div class="mx-5 my-4"><a href="https://www.gmail.com" target="_blank"><i class="fa-brands fa-github"></i></a></div>
</h2></li>
  <li><h2>Boram Lee<div class="mx-5 my-4"><a href="https://www.gmail.com" target="_blank"><i class="fa-brands fa-github"></i></a></div></h2></li>
  <li><h2>Jack Moran<div class="mx-5 my-4"><a href="https://www.gmail.com" target="_blank"><i class="fa-brands fa-github"></i></a></div></h2></li>
  <li><h2>Saki Unno<div class="mx-5 my-4"><a href="https://www.gmail.com" target="_blank"><i class="fa-brands fa-github"></i></a></div></h2></li>
</div>
</ul>
