<div class="about-title">
  <h1>About us</h1>
  <h2>Hello, we are Dorothy, Boram, Jack and Saki. ✋
  <br><br>We are Le Wagon alumni and this is our team project.
  <br><br>We hope you enjoy our app! ✨</h2>
</div>

<div class="about-content">
 <%= image_tag "us.jpeg", width: 400, style: "border-radius: 4px;" %>
<ul>
  <li>Dorothy Chan <a href="https://github.com/dcmy2020" target="_blank"><i class="fa-brands fa-github"></i></a></li>
  <li>Boram Lee <a href="https://github.com/Lee340" target="_blank"><i class="fa-brands fa-github"></i></a></li>
  <li>Jack Moran <a href="https://github.com/jvckmorvn" target="_blank"><i class="fa-brands fa-github"></i></a></li>
  <li>Saki Unno <a href="https://github.com/unnosk" target="_blank"><i class="fa-brands fa-github"></i></a></li>
</ul>
</div>
