<div class="landing-flash" id="landing-flash-timeout">
  <div class="logo-img-container">
    <%= image_tag "logo.png", width: 100 %>
    <span class="logo-day" id="landing-logo-day"></span>
  </div>
  <span >Planit</span>

  <script type="module">
    const logo = document.getElementById("landing-logo-day");
    const today = new Date();
    logo.textContent = today.getDate();

    setTimeout(() => {
      const landingFlash = document.getElementById("landing-flash-timeout")
      landingFlash.remove()
    }, 1000)
  </script>
</div>
 <%# background-image: linear-gradient(to bottom right, rgb(13, 19, 59), rgb(71, 8, 96)); %>
