.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-large {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid $planit-purple;
}

.avatar-small {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: 1px solid $planit-purple;
  object-fit: cover;
}

.avatar-bordered {
  background-size: cover;
  background-position: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: 1px solid $planit-purple;
  object-fit: cover;
  cursor: pointer;
}

.avatar-square {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  // border: white 1px solid;
  margin-bottom: 12px;
}


.group-name{
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}
