.landing-btn {
  width: 200px;
  -webkit-border-radius: 10px;
  border-radius: 48px;
  color: whitesmoke;
  font-size: 24px;
  cursor: pointer;
  display: inline-block;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

.landing-btn:hover {
  color: rgb(67, 61, 61);
}

.submit-btn {
  text-decoration: none;
  color: whitesmoke;
  font-size: 16px;
  background-color: $planit-navy;
  text-align: center;
  border-radius: 24px;
  padding: 4px 24px;
  margin: 4px 2px;
  width: 200px;
  align-self: center;
}

.submit-btn:hover {
  color: #b4adb9;
}

.delete-btn {
  text-decoration: none;
  color: whitesmoke;
  font-size: 16px;
  background-color: $planit-red;
  text-align: center;
  border-radius: 24px;
  padding: 8px 24px;
  margin: 4px 20px;
  width: 220px;
  }

.delete-btn:hover {
  color: red;
  }

.group-card-delete-btn {
  height: 25px;
  right: 6px;
  top: 6px;
  width: 25px;
  background-color: rgba(10, 10, 10, 0.3);
  border: 1px solid $planit-navy;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  position: absolute;
}

.group-card-delete-btn:hover {
  color: $planit-red;
}

@-webkit-keyframes glowing {
  0% { background-color: rgb(20, 18, 43); -webkit-box-shadow: 0 0 3px rgb(20, 18, 43); }
  50% { background-color: $planit-navy; -webkit-box-shadow: 0 0 15px $planit-navy; }
  100% { background-color: rgb(20, 18, 43); -webkit-box-shadow: 0 0 3px rgb(20, 18, 43); }
}
@-moz-keyframes glowing {
  0% { background-color: rgb(20, 18, 43); -moz-box-shadow: 0 0 3px rgb(20, 18, 43); }
  50% { background-color: $planit-navy; -moz-box-shadow: 0 0 15px $planit-navy; }
  100% { background-color: rgb(20, 18, 43); -moz-box-shadow: 0 0 3px rgb(20, 18, 43); }
}
@-o-keyframes glowing {
  0% { background-color: rgb(20, 18, 43); box-shadow: 0 0 3px rgb(20, 18, 43); }
  50% { background-color: $planit-navy; box-shadow: 0 0 15px $planit-navy; }
  100% { background-color: rgb(20, 18, 43); box-shadow: 0 0 3px rgb(20, 18, 43); }
}
@keyframes glowing {
  0% { background-color: rgb(20, 18, 43); box-shadow: 0 0 3px rgb(20, 18, 43); }
  50% { background-color: $planit-navy; box-shadow: 0 0 15px $planit-navy; }
  100% { background-color: rgb(20, 18, 43); box-shadow: 0 0 3px rgb(20, 18, 43); }
}
