.submit-btn {
  text-decoration: none;
  color: #603367;
  font-size: 16px;
  background-color: #dfd7e6;
  text-align: center;
  border-radius: 24px;
  padding: 4px 24px;
  margin: 4px 2px;
  border: 2px solid #603367;
}

.landing-btn {
  width: 200px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

.delete-btn {
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: red;
  text-align: center;
  border-radius: 4px;
  padding: 6px 8px;
  border: 2px solid rgb(148, 13, 13);
  margin-top: 16px;
  }

@-webkit-keyframes glowing {
  0% { background-color: rgb(76,22,82); -webkit-box-shadow: 0 0 3px rgb(76,22,82); }
  50% { background-color: rgb(102, 37, 110); -webkit-box-shadow: 0 0 30px rgb(102, 37, 110); }
  100% { background-color: rgb(76,22,82); -webkit-box-shadow: 0 0 3px rgb(76,22,82); }
}

@-moz-keyframes glowing {
  0% { background-color: rgb(76,22,82); -moz-box-shadow: 0 0 3px rgb(76,22,82); }
  50% { background-color: rgb(102, 37, 110); -moz-box-shadow: 0 0 30px rgb(102, 37, 110); }
  100% { background-color: hsl(102, 37, 110); -moz-box-shadow: 0 0 3px rgb(76,22,82); }
}

@-o-keyframes glowing {
  0% { background-color: rgb(76,22,82); box-shadow: 0 0 3px rgb(76,22,82); }
  50% { background-color: rgb(102, 37, 110); box-shadow: 0 0 30px rgb(102, 37, 110); }
  100% { background-color: rgb(102, 37, 110); box-shadow: 0 0 3px rgb(76,22,82); }
}

@keyframes glowing {
  0% { background-color: rgb(76,22,82); box-shadow: 0 0 3px rgb(76,22,82); }
  50% { background-color: rgb(102, 37, 110); box-shadow: 0 0 30px rgb(102, 37, 110); }
  100% { background-color: rgb(76,22,82); box-shadow: 0 0 3px rgb(76,22,82); }
}
