.align-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
  min-height: 100vh;
  width: 100%;
}

.common-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.3);
  padding: 8px 12px;
  border-radius: 4px;
  width: 400px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  position: absolute;
}

.common-form form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

// .form-control {
//   // max-width: 600px;
// }

.group-form-inner {
  height: 80%;
  width: 80%;
  border: 1px dotted grey;
}

.create-form{

}
