.landing-sign-in {
  display: flex;
  justify-content: center;
}

.common-form {
<<<<<<< Updated upstream
  background-color: #f9f9f9;
=======
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;

  background-color: rgba(244, 244, 244, 0.8);
>>>>>>> Stashed changes
  padding: 8px 12px;
  border-radius: 4px;
  // margin-left: 24px;
  width: 400px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  // max-width: 400px;
}

.form-control {
  // max-width: 600px;
}
