.logo-img-container {
  position: relative;
}

.logo-img-container img {
  margin-top: -12px;
  margin-bottom: -12px;
}

.logo {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.logo-day {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bolder;
}

.logo-day:hover {
  color: $planit-navy;
}

#landing-logo-month {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

#landing-logo-day {
  font-size: 60px;
  text-shadow: 2px 2px #2f2e2e;
  font-weight: bolder;
}
