.logo {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #47114e;
}

.logo-landing {
  width: 56px;
  border-radius: 50%;
}

.logo-img-container {
  position: relative;
}

.logo-day {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bolder;
}
