.mapboxgl-popup {
  opacity: 0.9;
  border-radius: 4px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapbox {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
  width: 126%;
}
