.navbar-planit {
  opacity: 0.9;
  display: flex;
  align-items: center;
  background-color: #ffffff99;
  padding: 12px;

  .container-fluid {
    display: flex;
    align-items: center;

    .navbar-buttons {
      display: right;
    }
  }
}

.navbar-login {
  color: rgb(30, 24, 73);
  font-size: 20px;
  margin-right: 12px;
  align-self: center;
}
