.navbar-planit {
  opacity: 0.9;
  display: flex;
  align-items: center;
  background-color: #ffffff91;
  padding: 12px;
  z-index: 1000;

  .container-fluid {
    display: flex;
    align-items: center;

    .navbar-buttons {
      display: right;
    }
  }
}

.navbar-login {
  color: $planit-navy;
  font-size: 20px;
  margin-right: 12px;
  align-self: center;
}
