.group-content {
  flex-grow: 1;
  padding: 12px;


  .simple-calendar {
    display: flex;
    flex-direction: column;

    th {
      text-align: center;
      color: black;
      padding: 12px;
      background-color: white;
      border-bottom: none;
    }

    th:first-child, th:last-child {
      color: purple;
    }

    .day {
      height: 140px;
      background: white;
      box-shadow: none;
    }

    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}

    .today {
      outline: 3px solid $planit-purple;
      // border: 1px solid black;
    }
    .past {}
    .future {}

    .start-date {}

    .prev-month {
      color: rgb(130, 129, 129);
    }

    .next-month {
      color: rgb(130, 129, 129);
    }

    .current-month {}

    .has-events {
      // background: none;
    }
  }

}

.calendar-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-size: 24px;

  a {
    color: black;
  }

  a:hover {
    color: black;
    opacity: 0.6;
  }
}

.calendar-title {
  margin-left: 12px;
  margin-right: 12px;
}
