.group-content {
  flex-grow: 1;
  padding: 12px;


  .simple-calendar {
    display: flex;
    flex-direction: column;

    th {
      text-align: center;
      color: black;
      padding: 12px;
      background-color: $planit-white;
      border-bottom: none;
    }

    th:first-child, th:last-child {
      color: $planit-navy;
    }

    .day {
      background: $planit-white;
      box-shadow: none;
      position: relative;
    }

    .day:hover .day-popup {
      display: block;
    }

    .day-popup {
      background: white;
      display: none;
      border: 1px solid $planit-navy;
      border-radius: 4px;
      padding: 12px;
      position: absolute;
      top: -50px;
      right: 8px;
      left: 28px;
      z-index: 10;
    }

    .arrow-down {
      position: absolute;
      bottom: -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid rgb(255, 255, 255);
      z-index: 1;
      left: 50%;
    }

    .arrow-down-bigger {
      position: absolute;
      bottom: -11px;
      width: 0;
      height: 0;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-top: 11px solid black;
      left: calc(50% - 1px);
    }

    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}

    .today {
      outline: 3px solid $planit-navy;
      z-index: 1;
    }
    .past {}

    .future {}

    .start-date {}

    .prev-month {
      color: rgb(130, 129, 129);
    }

    .next-month {
      color: rgb(130, 129, 129);
    }

    .current-month {}

    .has-events {
      // background: none;
    }
  }
}

.group-content-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.calendar-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-size: 24px;

  a {
    color: $planit-white;
  }

  a:hover {
    color: black;
    opacity: 0.6;
  }
}

.calendar-title {
  margin-left: 12px;
  margin-right: 12px;
  color: whitesmoke;
}
