.group-content {
  flex-grow: 1;
  padding: 12px;


  .simple-calendar {
    display: flex;
    flex-direction: column;

    th {
      text-align: center;
      color: black;
      padding: 12px;
      background-color: $planit-white;
      border-bottom: none;
    }

    th:first-child, th:last-child {
      color: $planit-navy;
    }

    .day {
      background: $planit-white;
      box-shadow: none;
      position: relative;
    }
///////////////////////////////////////////////////
    .day:hover .day-popup {
      display: block;
    }

    .day-popup {
      background: white;
      display: none;
      border: 2px solid $planit-navy;
      border-radius: 4px;
      padding: 12px;
      position: absolute;
      top: -50px;
      right: 8px;
      left: 28px;
      z-index: 10;
    }

      /* bubble style */
    // .hoverBubble {
    //   background: #333333;
    //   color: #ffffff;
    //   cursor: pointer;
    //   opacity: 0;
    //   padding: 5px;
    //   position: absolute;
    //   text-align: left;
    //   visibility: hidden;
    //   -webkit-border-radius: 3px;
    //   -moz-border-radius: 3px;
    //   -o-border-radius: 3px;
    //   border-radius: 3px;
    //   -webkit-transition: all 0.25s;
    //   -moz-transition: all 0.25s;
    //   -ms-transition: all 0.25s;
    //   -o-transition: all 0.25s;
    //   transition: all 0.25s;
    // }

    // .bubblePosition {
    //   bottom: 115%;
    //   height: inherit;
    //   left: 0;
    //   min-height: 200px;
    //   top: auto;
    //   width: 190px;
    // }

    // .hoverBubble:after,
    // .bubblePosition:after {
    //   border: 8px solid transparent;
    //   border-top-color: #333333;
    //   bottom: -15px;
    //   content: '';
    //   height: 0px;
    //   left: 0;
    //   margin: 0 auto;
    //   position: absolute;
    //   right: 0;
    //   width: 0px;
    // }

    // /* bubble hover */
    // ul.navUL li a:hover .hoverBubble {
    //   opacity: 1;
    //   visibility: visible;
    //   -webkit-transition: all 0.25s;
    //   -moz-transition: all 0.25s;
    //   -ms-transition: all 0.25s;
    //   -o-transition: all 0.25s;
    //   transition: all 0.25s;

    //   display: block;
    //   font-size: 1.5em;
    //   text-align: center;
    // }

    // @media (max-width: 680px) {
    //   .day {
    //     height: 70px
    //   }
    // }

    // @media (min-width: 680px) {
    //   .day {
    //     height: 140px
    //   }
    // }

    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}

    .today {
      outline: 3px solid $planit-navy;
    }
    .past {}

    .future {}

    .start-date {}

    .prev-month {
      color: rgb(130, 129, 129);
    }

    .next-month {
      color: rgb(130, 129, 129);
    }

    .current-month {}

    .has-events {
      // background: none;
    }
  }
}

.group-content-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.calendar-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-size: 24px;

  a {
    color: $planit-white;
  }

  a:hover {
    color: black;
    opacity: 0.6;
  }
}

.calendar-title {
  margin-left: 12px;
  margin-right: 12px;
  color: whitesmoke;
}



// -- on hover, if a user hasn’t voetd on an event, we want to change the border of the “day” div to show the user that they can vote for that day.
// -- clicking on a day will change the styling to show they have voted for it, and make a create request via ajax to the day-vote model to create it. A user can then click again on it to delete it.
// Hover effect (adding CSS and Stimulus controller for it) : Boram
